API_ID=
API_HASH=
OWNER_ID=
TO_USER_ID=
# Groups to monitor (comma-separated)
#MONITOR_GROUPS=
MONITOR_GROUPS=
MONITOR_USERS=
# Channels to monitor
MONITOR_CHANNELS=
ENABLE_NATIVE=true
# --- Solana Configuration ---
RPC_URL=https://api.mainnet-beta.solana.com
SOLANA_PRIVATE_KEY_BASE58=YOUR_PRIVATE_KEY_HERE

ENABLE_REAL_TRADING=false
AMOUNT_TO_BUY_SOL=0.01
SLIPPAGE_BPS=500
STOP_LOSS_PERCENT=0.52
TAKE_PROFIT_PERCENT=0.75
MAX_PURCHASES_ALLOWED=2

# --- Jupiter API Configuration ---
JUPITER_API_URL=https://quote-api.jup.ag/v6

ENABLE_PUMPFUN=true
ENABLE_MOONSHOT=true
ENABLE_RAYDIUM=true
ENABLE_BIRDEYE=true

BOT_ENABLED=true